* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
    color: white;
}

#menu {
    width: 100%;
    margin-top: 10%;

}

#titulo {
    font: 'Arial';
    text-align: center;
}

#cajaColores {
    text-align: center;
    padding: 3%;
}

/* Green */

button {
    background-color: #4CAF50;
    border: 2px solid black;
    color: white;
    padding: 26px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    margin-right: 2%;
    margin-bottom: 5%;
    width: 4%;
}



button:focus {
    border: 4px solid cyan;
}

button:target {
    border: 4px solid cyan;
}


/* Blue */

.button2 {
    background-color: #008CBA;
}

/* Red */

.button3 {
    background-color: #f44336;
}

/* Yellow */

.button4 {
    background-color: #ffff33;
}


#textoIntroducir {
    text-align: center;
    color: black;
}

#iconos {
    color: black;
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    background-color: white;
}

/* Elementos de la lista de platos que se han introducido */

.plato {
    border: 0.3em groove black;
    background-color: white;
    color: black;
    padding: 0.5em;
    align-items: center;
    flex: auto;
    display: flex;
    font-size: 1.5em;
    margin: 1em;
}

.plato > span {
    margin-left: 0.5em;
}
