.button {
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #ffff33; } /* Yellow */ 
.button5 {background-color: #ff471a;} /* Orange */